<!doctype html>
<html class="no-js" lang={{ config.lang }}>

  {% include 'partials/head.njk' %}

  <body>

    {% include 'partials/upgrade_ie.njk' %}

    {% block body %}{% endblock %}

    <script src='/public/app.bundle.js' charset='utf-8'></script>
    {% include 'partials/google_analytics.njk' %}
  </body>
</html>
