<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{{ config.title }} | 首頁</title>
  <meta name="description" content={{ config.description }}>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">
  <link href="/plugins/css/ionicons.min.css" type="text/css" rel="stylesheet">
  <link href="/plugins/css/magic.min.css" type="text/css" rel="stylesheet">
</head>
